body{
    background-color: rgb(140, 204, 197);
}
.signup_box{
    position: absolute;
    top: 3%;
    left: 35%;
    width: 300px;
    height: 520px;
    background-color: white;
    border-radius: 3px;
    border-style:solid;
}
h1{
    text-align: center;
    padding-top: 10px;
    font-family:monospace;
    font-size: 30px;
}
form{
    width: 300px;
    margin-left: 15px;
}
form label{
    display: flex;
    margin-top: 20px;
    font-size: 18px;
    font-family: Consolas;
    font-size: 15px;
    font-weight: bold;
}
form input{
    width: 90%;
    height: 25px;
    padding: 3px;
    border: 1.5px solid grey;
    border-radius: 5px;
}
input[type="submit"]{
    width: 90%;
    height: 30px;
    margin-top: 20px;
    background-color: rgb(99, 136, 136);
    color: white;
    font-family: Consolas;
    font-weight: bold;
}
p{
    text-align: center;
    padding: 10px;
    font-family: Consolas;
    font-size: 15px;
    font-weight: bold;
}